<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!--在此配置本页面国际化文件的名字-->
    <meta id="i18n_pagename" content="">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
    <% include ../version.ejs%>
    <script type="text/javascript">
        (function(){

            var css ='<link type="text/css" rel="stylesheet" href="'+ GV.STATIC_ROOT+'stylesheets/pages/group.css">'
            document.write(css);
        })();
    </script>
</head>

<body>
<div class="margin30">

    <div class="flex">
        <span id="addGroup" class="btn btn-large btn-primary otherBtn "><i class="glyphicon-plus"></i><span class="i18n" data-title="addBtn">新增分组</span></span>
    </div>

</div>
<div class="margin30">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="i18n" data-title="groupName">分组名称</th>
            <th class="i18n" data-title="createTime">创建时间</th>
            <th class="i18n" data-title="laborName">所属实验室名称</th>
            <th class="i18n" data-title="laborUnit">实验室所属单位</th>
            <th class="i18n" data-title="status">状态</th>
            <th class="i18n" data-title="action">操作</th>
        </tr>
        </thead>
        <tbody id="j_body"></tbody>
    </table>
    <div class="page_div">
        <span id="j_footer"></span>
        <span id="j_pageNum" class="j_pageNum"></span>
    </div>

</div>
</body>

<script type="text/javascript">
    (function(){
        var footer = '<script src="'+ GV.STATIC_ROOT+'javascripts/lib/require.js" data-main="'+ GV.STATIC_ROOT+'javascripts/page/manage/group/groupList.js"><\/script>';
        document.write(footer);
    })();

</script>
</html>

