@import "../lib/bootstrap";

.margin30{
  margin: 30px;
}
.add{
  text-align: left;
  width: 1000px;
  max-width: 1000px;
  padding: 15px;
  margin: 0 auto;
}
.addLabel{
  float: left;
  line-height: 34px;
}
.addBtn{
  margin-top: 20px;
  text-align: center;
}
.addBtn span{
  width: 100%;
}
.pager{height:30px;line-height:30px;font-size: 12px;margin: 25px 0px;text-align: center;color: #2E6AB1;overflow: hidden;}
.pager a{border:1px solid #9AAFE5;color:#2E6AB1;margin:0px 5px;padding:5px 8px;text-decoration: none;}
.pager a.hover,.pager a.active{background-color:#2E6AB1;border-color:#000080;color:#FFF;}
.pager a.disabled{color:#C8CDD2;cursor:auto;}

.searchInput{
  width: 250px;
}
.flex{
  display: flex;
}
.Storage_option select{
  height: 34px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
}
.addInput{
  display: inline-block;
  width: 40%;
  margin-left: 20px;
  padding:10px;
}

.addInput label{
  width: 35%;
}
.addInput input{
  width: 65%;
}
.addInput select{
  width: 65%;
}
.mustInput{
  margin-left:-6px ;
  margin-right: 6px;
}
.addBtn{
  margin-left: 14%;
  width: 680px;
  height: 58px;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  border-radius: 5px;
}
.addbutton{
  height: 40px;
  line-height: 25px;
}
.otherBtn{
  margin-left: 30px;
}
.j_pageNum{
  float: right;
  margin-top: -25px;
}

