<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!--在此配置本页面国际化文件的名字-->
    <meta id="i18n_pagename" content="">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
    <% include ../../version.ejs%>
    <script type="text/javascript">
        (function(){

            var css ='<link type="text/css" rel="stylesheet" href="'+ GV.STATIC_ROOT+'stylesheets/pages/resourse.css">'
            document.write(css);
        })();
    </script>
</head>

<body>
<div class="margin30">

    <div class="flex">
        <!--<div class="Storage_option">-->
            <!--<select id="search_select">-->
                <!--<option class="i18n" data-title="objectType1" value="1" selected>耗材</option>-->
                <!--<option class="i18n" data-title="objectType2" value="2">试剂</option>-->
                <!--<option class="i18n" data-title="objectType3" value="3">动物</option>-->
                <!--<option class="i18n" data-title="objectType4" value="4">仪器</option>-->
            <!--</select>-->
        <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
        <!--<div class="searchInput">-->
            <!--<input id="seach_input" type="text" class="form-control">-->
        <!--</div>-->
        <!--<a id="searchBtn" class="btn btn-large btn-primary i18n" data-title="searcBtn" >搜索</a>-->
        <span id="addResourse" class="btn btn-large btn-primary otherBtn "><i class="glyphicon-plus"></i><span class="i18n" data-title="addBtn">新增资源</span></span>
    </div>

</div>
<div class="margin30">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="i18n textCenter" data-title="resourseName">图片</th>
            <th class="i18n textCenter" data-title="resourseType">类型</th>
            <th class="i18n textCenter" data-title="unit">是否显示</th>
            <th class="i18n textCenter" data-title="strSpecifications">操作</th>
            <!--<th class="i18n" data-title="isShare">共享状态</th>-->
            <!--<th class="i18n" data-title="iNumber">库存</th>-->
            <!--<th class="i18n" data-title="strCompany">公司品牌</th>-->
            <!--<th class="i18n" data-title="strModel">公司型号</th>-->
            <!--&lt;!&ndash;<th>存放位置</th>&ndash;&gt;-->
            <!--<th class="i18n" data-title="strRemarks">获取备注</th>-->
            <!--<th class="i18n" data-title="action">操作</th>-->
        </tr>
        </thead>
        <tbody id="j_body"></tbody>
    </table>
    <div class="page_div">
        <span id="j_footer"></span>
        <span id="j_pageNum" class="j_pageNum"></span>
    </div>

</div>

</body>

<script type="text/javascript">
    (function(){
        var footer = '<script src="'+ GV.STATIC_ROOT+'javascripts/lib/require.js" data-main="'+ GV.STATIC_ROOT+'javascripts/page/superAdmin/carouselList.js"><\/script>';
        document.write(footer);
    })();

</script>
</html>

