
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!--在此配置本页面国际化文件的名字-->
    <meta id="i18n_pagename" content="index">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
    <% include version.ejs%>
    <script type="text/javascript">
        (function(){

            var css ='<link type="text/css" rel="stylesheet" href="'+ GV.STATIC_ROOT+'stylesheets/pages/login.css">'
            document.write(css);
        })();
    </script>
</head>

<body>

<div class="container">

    <form class="form-signin  email">
        <h2 class="form-signin-heading i18n" data-title="title">U-LABOR</h2>
        <!--<label for="inputEmail" class="sr-only">用户名</label>-->
        <input type="text" id="inputEmail" class="form-control i18n-input" selectattr="userName_placeholder" placeholder="用户名"  autofocus>
        <input type="password" id="inputPassword" selectattr="password_placeholder" data-type="email" class="form-control password i18n-input" placeholder="密码" >

        <!--<label for="inputPassword" class="sr-only">密码</label>-->


        <div id="loginBtn" class=" btn btn-lg btn-primary btn-block i18n loginBtn" data-type="email" data-title="login">登录</div>
        <!--<div><span class="changeLoginMethod i18n" data-title="phoneLogin" data-method="email">手机登录</span></div>-->
    </form>
</div> <!-- /container -->

<div class="background">

</div>
</body>

<script type="text/javascript">
    (function(){
        var footer = '<script src="'+ GV.STATIC_ROOT+'javascripts/lib/require.js" data-main="'+ GV.STATIC_ROOT+'javascripts/page/user/superSign"><\/script>';
        document.write(footer);
    })();

</script>
</html>

