<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->


    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
    <% include ../version.ejs%>
    <script type="text/javascript">
        (function(){

            var css ='<link type="text/css" rel="stylesheet" href="'+ GV.STATIC_ROOT+'stylesheets/pages/resourse.css">'
            document.write(css);
        })();
    </script>
</head>

<body>
<!--<div><%=title%></div>-->
<div class="margin30">
    <form class="add">
        <div class="addInput">
            <label  class="addLabel mustInput"><i style="color:red">*</i><span class="i18n" data-title="resourseName">资源名称</span>:</label>
            <input id="strName" type="text" class="form-control i18n-input" selectattr="resourseName_placeholder"  placeholder="请输入资源名称">
        </div>
        <div class="addInput ">
            <label class="addLabel mustInput"><i style="color:red">*</i><span class="i18n" data-title="resourseType">资源类型</span>:</label>
            <!--<input id="strType" type="text" class="form-control" placeholder="请输入资源类型">-->
            <select id="strType" class="form-control">
                <option value="1" class="i18n" data-title="objectType1" selected>耗材</option>
                <option  class="i18n" data-title="objectType2" value="2">试剂</option>
                <option class="i18n" data-title="objectType3" value="3">动物</option>
                <option class="i18n" data-title="objectType4" value="4">仪器</option>
            </select>

        </div>
        <div class="addInput ">

            <label class="addLabel mustInput"><i style="color:red">*</i><span class="i18n" data-title="unit">单位</span>:</label>
            <input id="strUnit" type="text" class="form-control i18n-input" selectattr="unit_placeholder" placeholder="请输入单位">

        </div>
        <div class="addInput ">
            <label class="addLabel mustInput"><i style="color:red">*</i><span class="i18n" data-title="strSpecifications">获取规格</span>:</label>
            <input id="strSpecifications" type="text" class="form-control i18n-input" selectattr="strSpecifications_placeholder" placeholder="请输入获取规格">

        </div>
        <!--<div class="addInput">-->
            <!--<label class="addLabel">单价:</label>-->
            <!--<input id="decMoney" type="text" class="form-control" placeholder="请输入单价">-->

        <!--</div>-->
        <div class="addInput">
            <label class="addLabel i18n" data-title="iNumber">库存:</label>
            <input id="iNumber" type="text" class="form-control i18n-input" selectattr="iNumber_placeholder" placeholder="请输入库存">

        </div>
        <div class="addInput">
            <label class="addLabel i18n" data-title="strCompany">公司品牌:</label>
            <input id="strCompany" type="text" class="form-control i18n-input" selectattr="strCompany_placeholder" placeholder="请输入公司品牌">

        </div>
        <div class="addInput">
            <label class="addLabel i18n" data-title="strModel">公司型号:</label>
            <input id="strModel" type="text" class="form-control i18n-input" selectattr="strModel_placeholder" placeholder="请输入公司型号">

        </div>
        <!--<div class="addInput">-->
            <!--<label class="addLabel">存放位置:</label>-->
            <!--<input id="strPosition" type="text" class="form-control" placeholder="请输入存放位置">-->

        <!--</div>-->
        <!--<div class="addInput">-->
            <!--<label class="addLabel">获取经销商:</label>-->
            <!--<input id="strDealer" type="text" class="form-control" placeholder="请输入获取经销商">-->

        <!--</div>-->
        <!--<div class="addInput">-->
            <!--<label class="addLabel">获取数据来源:</label>-->
            <!--<input id="strComeFrome" type="text" class="form-control" placeholder="请输入获取数据来源">-->

        <!--</div>-->
        <div class="addInput">
            <label class="addLabel i18n" data-title="strRemarks">获取备注:</label>
            <input id="strRemarks" type="text" class="form-control i18n-input" selectattr="strRemarks_placeholder" placeholder="请输入获取备注">

        </div>
        <!--<div class="addInput">-->
            <!--<label class="addLabel">生产日期:</label>-->
            <!--<input id="strProductionDate" type="date" class="form-control" placeholder="请输入生产日期">-->

        <!--</div>-->

        <div class="addBtn">
            <span type="button" id="addbutton" class="btn btn-success addbutton i18n" data-title="addButton">新增</span>

        </div>




    </form>
</div>
</body>

<script type="text/javascript">
    (function(){
        var footer = '<script src="'+ GV.STATIC_ROOT+'javascripts/lib/require.js" data-main="'+ GV.STATIC_ROOT+'javascripts/page/manage/addResourse.js"><\/script>';
        document.write(footer);
    })();

</script>
</html>

